DROP TABLE IF EXISTS `user`;
CREATE TABLE `user` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `user` WRITE;
INSERT INTO `user` VALUES (1,'samulus_patatus','MotDePasseFortementSecret'),(2,'test1','123456789'),(4,'test2','123456'),(5,'test3','1234'),(6,'laran028','1234'),(7,'untilisateur','HAHAHAHAHAHAHA'),(8,'aaa','123'),(9,'admin_potatao','motdepasse'),(11,'PatatorXXL','1234');
UNLOCK TABLES;


DROP TABLE IF EXISTS `message`;
CREATE TABLE `message` (
  `id_message` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `content` text NOT NULL,
  PRIMARY KEY (`id_message`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `message_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `user` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `message` WRITE;
INSERT INTO `message` VALUES (1,1,'BONJOUR'),(2,1,'AAAAA'),(6,11,'Je suis en train de construire le plus gros Patator de l\'univers. J\'annonce sa taille dépassant les 20 mètres de canon. Pour une taille totale de 25 mètres. Il propulse des patates à une vitesse de 350 m/s. \r\n\r\nLa tubercule anéantie une colonne de 25 briques!\r\n\r\nP.S : Super outil pour faire de la purée maison.');
UNLOCK TABLES;
