<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <h1>Mini site Web avec Express !</h1>
        <p>Bienvenue sur le site</p>

        <a href="/login" class="btn">
            Connexion
        </a>
    </div>

</body>
</html>
