

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}


.container {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 40px auto;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn_red {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn_red:hover {
    background-color: #a71d2a;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

.link_delete {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: red;
}


.articles {
    margin-top: 20px;
}

.article {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.article h2 {
    margin-bottom: 5px;
}

.article p {
    white-space: pre-wrap; 
    word-wrap: break-word;
}

textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
}
