

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}


.articles {
    margin-top: 20px;
}

.article {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.article h2 {
    margin-bottom: 5px;
}
